Repository riuandg5/task: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
    "*.ts": ["eslint", "prettier --ignore-unknown --write"],
    "*.{json,md}": "prettier --ignore-unknown --write"
}

editor setup: vitest
  .gitignore
  .husky/pre-push
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint, prettier --ignore-unknown --write

editor setup: move test run to pre-commit hook
  .husky/pre-push
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  42a0d2fbea01236fe69a55fa9e522d3edc494559
Due: none

editor setup: semantic-release from local
  .gitignore
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  58319bc56cff9ab0598bd75317a26b2cad163b3c
Due: none

feat: add basic Task class methods
  src/index.test.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

chore: change name from task to task-execute
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  2037d01c2e84098cf342fed8d8ad8eddd374264d
Due: none

fix: use getter and setters
  src/index.test.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

fix: make workerParams optional
  src/index.test.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

feat: allow fallback config for execute method
  src/index.test.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

test: add test for throwing error
  src/index.test.ts
Due: eslint, prettier --ignore-unknown --write

docs: update documentation for Task class
  README.md
Due: prettier --ignore-unknown --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  05534404e0ca484aa4cbf08826e70040d8ad32d7
Due: none

chore: add .eslintignore
  .eslintignore
Due: none

refactor: isolate Task class in seperate file
  src/Task/Task.test.ts
  src/Task/Task.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

feat: add GroupTask class
  src/GroupTask/GroupTask.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

test: add tests for GroupTask class
  src/GroupTask/GroupTask.test.ts
Due: eslint, prettier --ignore-unknown --write

test: add bench for series vs parallel comparison
  package.json
  src/GroupTask/GroupTask.bench.ts
  tsconfig.json
Due: eslint, prettier --ignore-unknown --write

docs: update documentation for GroupTask class
  README.md
Due: prettier --ignore-unknown --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  e50c2029e576ca26426569a3d8094b741e2dc349
Due: none

feat: allow both Task and GroupTask in GroupTask
  src/GroupTask/GroupTask.test.ts
  src/GroupTask/GroupTask.ts
Due: eslint, prettier --ignore-unknown --write

docs: show multi-level nesting under GroupTask
  README.md
Due: prettier --ignore-unknown --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  082a900eabbab58e6165099ba05be7e410cb12fa
Due: none

fix: better names, types, and interfaces
  package-lock.json
  package.json
  src/GroupTask/GroupTask.test.ts
  src/GroupTask/GroupTask.ts
  src/Task/Task.test.ts
  src/Task/Task.ts
Due: eslint, prettier --ignore-unknown --write

feat: add worker and workerParams to GroupTask
  src/GroupTask/GroupTask.ts
Due: eslint, prettier --ignore-unknown --write

refactor: make code more maintainable
  src/BaseTask/BaseTask.test.ts
  src/BaseTask/BaseTask.ts
  src/GroupTask/GroupTask.bench.ts
  src/GroupTask/GroupTask.test.ts
  src/GroupTask/GroupTask.ts
  src/Task/Task.test.ts
  src/Task/Task.ts
  src/index.ts
Due: eslint, prettier --ignore-unknown --write

chore: add typedoc for docs gen from tsdoc comment
  .eslintignore
  .eslintrc.json
  .prettierignore
  package-lock.json
  package.json
  typedoc.json
Due: prettier --ignore-unknown --write

docs: add tsdoc style comments
  src/BaseTask/BaseTask.ts
  src/GroupTask/GroupTask.ts
  src/Task/Task.ts
Due: eslint, prettier --ignore-unknown --write

docs: add typedoc generated docs
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/GroupTask.html
  docs/classes/Internals.BaseTask.html
  docs/classes/Task.html
  docs/index.html
  docs/interfaces/Internals.GroupTaskConfigNewI.html
  docs/interfaces/Internals.GroupTaskConfigOldI.html
  docs/interfaces/TaskConfigI.html
  docs/modules/Internals.html
  docs/types/GroupSubTasksT.html
  docs/types/GroupTaskConfigI.html
  docs/types/GroupTaskModeT.html
  docs/types/GroupTaskResultT.html
  docs/types/GroupTaskT.html
  docs/types/Internals.ArrayWithMinOneOrTwoElementsT.html
  docs/types/Internals.NestedArrayT.html
  docs/types/TaskResultT.html
  docs/types/TaskWorkerParamsT.html
  docs/types/TaskWorkerT.html
  docs/types/WorkerT.html
Due: none

docs: update readme with api docs link
  README.md
Due: prettier --ignore-unknown --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  96d6fd277de3adc228b3fd7b15642d405c84baff
Due: none

docs: update version in docs
  docs/classes/GroupTask.html
  docs/classes/Internals.BaseTask.html
  docs/classes/Task.html
  docs/index.html
  docs/interfaces/Internals.GroupTaskConfigNewI.html
  docs/interfaces/Internals.GroupTaskConfigOldI.html
  docs/interfaces/TaskConfigI.html
  docs/modules/Internals.html
  docs/types/GroupSubTasksT.html
  docs/types/GroupTaskConfigI.html
  docs/types/GroupTaskModeT.html
  docs/types/GroupTaskResultT.html
  docs/types/GroupTaskT.html
  docs/types/Internals.ArrayWithMinOneOrTwoElementsT.html
  docs/types/Internals.NestedArrayT.html
  docs/types/TaskResultT.html
  docs/types/TaskWorkerParamsT.html
  docs/types/TaskWorkerT.html
  docs/types/WorkerT.html
Due: none

chore: add docs folder in release cycle
  .releaserc.json
Due: prettier --ignore-unknown --write
